<header class="header">
<div class="title">
<h1 class="logo"> 映画タイトル</h1>
</div>
</header>
<div class="side_bar">
<ul class="list">
<p> タイタニック</p>
<p> アベンジャーズ</p>
<p> ダークナイト</p>
</ul>
</div>
</div>
<div class="main">
  <img src="ocean-6860109_1920.jpg" alt="待ってくれ" class="classname">
  <div class="rebyu">
  <h2>感想を書け</h2>
  </div>
</div>