<%= render "shared/header" %>
<header class="header">
<div class='title-contents'>
    <h1 class='service-title'>
      映画Times
    </h1>
    
  </div>
<div class="title">
<h1 class="logo"> 映画タイトル</h1>
</div>
</header>
<div class="side_bar">
<ul class="list">
<p> タイタニック</p>
<p> アベンジャーズ</p>
<p> ダークナイト</p>
</ul>
</div>
</div>

  <div class="rebyu">
  <h2>感想を書いてほしな</h2>
  </div>
  <div class='nav'>
<li><%= link_to "映画投稿", new_post_path, class:  'purchase-btn' %></li>
 </div>