<%= render "shared/header" %>
<header class="header">
<div class='title-contents'>
    <h1 class='service-title'>
      映画Times
    </h1>
      </div>
  
</header>
  <div class="main">


 
            
       <%= render 'posts/form' %>
       <div>