<%= render "shared/header" %>
<header class="header">
<div class='title-contents'>
    <h1 class='service-title'>
      映画Times
    </h1>
    <ul class="user__info">
              <li>
                 <div><%= link_to "マイページ", user_path(current_user.id), class: "text-white" %></div> 
              
              </li>
            </ul>
  </div>


  
 <div class='item-contents'>
<li><%= link_to "映画投稿", new_post_path, class:  'purchase-btn' %></li>
  
            
       <%= render 'posts/form' %>