// Place all the styles related to the posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.header{
  background-color:#000000;
  
}

.acout{
  background-color:#FF6600;

 
  height: 100px;
  
}



 .user__info{
  list-style: none;
 justify-content: flex-end;
 display: flex;
 font-size: 30px
 
}
.user-nickname{
  padding-right: 30px;
}
.text-white{
  padding-right: 30px;
}

.logout{
  padding-right: 30px;
}

.login{
  padding-right: 30px;
}
.sign-up{
  padding-right: 30px;
}


a {
  text-decoration: none;
}

.postmain{
  display: flex;
  justify-content: space-around;

}

.main {
  background: #f8f8f8;
}
.title-contents {
  
  
  background-repeat: no-repeat;
  background-position: top center;
  
  align-items: center;
  justify-content: center;
  padding: 5px 15px;
  color: #FF6600;
  text-shadow: 0 0 5px rgba(0, 0, 0, 0.9);
}
.service-title {
  font-size: 100px;
  justify-content: center;
  padding: 5px 15px;
}


.apple-btn {
  margin-right: 1vw;
  height: 9vh;
}

.google-btn {
  height: 9vh;
}

.cover-user-edit {
  height: 100%;
  width: 100%;
  background-image: url(/assets/sample8.jpg);
  background-color: rgba(255, 255, 255, 0.4);
  background-blend-mode: lighten;
  background-size: 100% 100%;
}
